/* Page layouts */
body {
    font-family: 'Roboto', sans-serif;
    background-color: rgb(241, 241, 241);
    padding-top: 5%;
}

/* navbar */
.navbar {
    /* border-bottom: 3px solid black; */
    min-height: 5vh;
    background-color: white;
}

.dropdown-menu {
    max-height: 90vh;
    min-width: fit-content;
    overflow-y: scroll;
}

.list-group-item .card {
    margin: 5%;
}

#sdg-letters{
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
}

.nav-item {
    padding-left: 5%;
}

.navbar-nav {
    --bs-nav-link-color: black;
    --bs-nav-link-hover-color: #00adef;
    --bs-navbar-active-color: #00adef;
}

#nav-sdg-logo {
    width: 19%;
    height: 6%;
}

.col-4 {
    border: 3px solid black;
    max-height: 40vh;
}

.modal-section .col-4 {
    border: 3px solid black;
    max-height: 20vh;
}


/* Overview modal */
.modal-header {
    flex-direction: column-reverse;
}

aside p {
    font-family: 'Oswald', sans-serif;
    font-size: larger;
}

#modal-sdg-logo {
    max-width: 10vh;
    max-height: 20vh; 
}

.goal-icon {
    height: 100%;
    width: 100%;
}

/* Dashboard */
.section-icon {
    height: 2rem;
    width: 2rem;
}


/* Section 1 */
.section-1 {
    background-color: white;
    border: 3px solid blue;
    min-height: 20vh;
    max-height: 40vh;
    margin: 2rem;
}

/* Progress bar */
#progress-bar-container {
    border: 1px solid black;
    max-height: 10vh;
    max-width: 60vw;
    margin: 1rem;
}

#progress-bar-header {
    border: 1px solid black;
}

/* Time remaining pie */
#pie-chart-container {
    border: 1px solid black;
    max-height: 10vh;
    max-width: 10vw;
    margin: 1rem;
}

#pie-chart-header {
    border: 1px solid black;
}


/* Section 2 */
.section-2 {
    background-color: white;
    border: 3px solid green;
    min-height: 20vh;
    max-height: 40vh;
    margin: 2rem;
}

/* Indicators */
.indicators-container {
    max-height: 30vh;
    overflow-y: scroll;
}


/* Section 3 */
.section-3 {
    background-color: white;
    border: 3px solid red;
    min-height: 20vh;
    max-height: 80vh;
    margin: 2rem;
}

/* Burndown */
.burndown-container {
    max-height: 50vh;
}


/* goal-specific details custom */

canvas[data-index-number="1"], 
span[data-index-number="1"],
#section-icon-1[data-index-number="1"],
#section-icon-2a[data-index-number="1"],
#section-icon-2b[data-index-number="1"],
#section-icon-3[data-index-number="1"] {
    color: #e5243b;
}

canvas[data-index-number="2"], 
span[data-index-number="2"],
#section-icon-1[data-index-number="2"],
#section-icon-2a[data-index-number="2"],
#section-icon-2b[data-index-number="2"],
#section-icon-3[data-index-number="2"] {
    color: #dda63a;
}

canvas[data-index-number="3"], 
span[data-index-number="3"],
#section-icon-1[data-index-number="3"],
#section-icon-2a[data-index-number="3"],
#section-icon-2b[data-index-number="3"],
#section-icon-3[data-index-number="3"] {
    color: #4c9f38;
}

canvas[data-index-number="4"], span[data-index-number="4"],
#section-icon-1[data-index-number="4"],
#section-icon-2a[data-index-number="4"],
#section-icon-2b[data-index-number="4"],
#section-icon-3[data-index-number="4"] {
    color: #c5192d;
}
canvas[data-index-number="5"], 
span[data-index-number="5"],
#section-icon-1[data-index-number="5"],
#section-icon-2a[data-index-number="5"],
#section-icon-2b[data-index-number="5"],
#section-icon-3[data-index-number="5"] {
    color: #ff3a21;
}
canvas[data-index-number="6"], 
span[data-index-number="6"],
#section-icon-1[data-index-number="6"],
#section-icon-2a[data-index-number="6"],
#section-icon-2b[data-index-number="6"],
#section-icon-3[data-index-number="6"] {
    color: #26bde2;
}
canvas[data-index-number="7"], 
span[data-index-number="7"],
#section-icon-1[data-index-number="7"],
#section-icon-2a[data-index-number="7"],
#section-icon-2b[data-index-number="7"],
#section-icon-3[data-index-number="7"] {
    color: #fcc30b;
}
canvas[data-index-number="8"], 
span[data-index-number="8"],
#section-icon-1[data-index-number="8"],
#section-icon-2a[data-index-number="8"],
#section-icon-2b[data-index-number="8"],
#section-icon-3[data-index-number="8"] {
    color: #a21942;
}
canvas[data-index-number="9"], 
span[data-index-number="9"],
#section-icon-1[data-index-number="9"],
#section-icon-2a[data-index-number="9"],
#section-icon-2b[data-index-number="9"],
#section-icon-3[data-index-number="9"] {
    color: #fd6925;
}
canvas[data-index-number="10"], 
span[data-index-number="10"],
#section-icon-1[data-index-number="10"],
#section-icon-2a[data-index-number="10"],
#section-icon-2b[data-index-number="10"],
#section-icon-3[data-index-number="10"] {
    color: #dd1367;
}
canvas[data-index-number="11"], 
span[data-index-number="11"],
#section-icon-1[data-index-number="11"],
#section-icon-2a[data-index-number="11"],
#section-icon-2b[data-index-number="11"],
#section-icon-3[data-index-number="11"] {
    color: #fd9d24;
}
canvas[data-index-number="12"], 
span[data-index-number="12"],
#section-icon-1[data-index-number="12"],
#section-icon-2a[data-index-number="12"],
#section-icon-2b[data-index-number="12"],
#section-icon-3[data-index-number="12"] {
    color: #bf8b2e;
}
canvas[data-index-number="13"], 
span[data-index-number="13"],
#section-icon-1[data-index-number="13"],
#section-icon-2a[data-index-number="13"],
#section-icon-2b[data-index-number="13"],
#section-icon-3[data-index-number="13"] {
    color: #3f7e44;
}
canvas[data-index-number="14"], 
span[data-index-number="14"],
#section-icon-1[data-index-number="14"],
#section-icon-2a[data-index-number="14"],
#section-icon-2b[data-index-number="14"],
#section-icon-3[data-index-number="14"] {
    color: #0a97d9;
}
canvas[data-index-number="15"], 
span[data-index-number="15"],
#section-icon-1[data-index-number="15"],
#section-icon-2a[data-index-number="15"],
#section-icon-2b[data-index-number="15"],
#section-icon-3[data-index-number="15"] {
    color: #56c02b;
}
canvas[data-index-number="16"], 
span[data-index-number="16"],
#section-icon-1[data-index-number="16"],
#section-icon-2a[data-index-number="16"],
#section-icon-2b[data-index-number="16"],
#section-icon-3[data-index-number="16"] {
    color: #00689d;
}
canvas[data-index-number="17"], 
span[data-index-number="17"],
#section-icon-1[data-index-number="17"],
#section-icon-2a[data-index-number="17"],
#section-icon-2b[data-index-number="17"],
#section-icon-3[data-index-number="17"] {
    color: #19486a;
}


/* css structure */

h1, h2, h3 {
    margin-top: 1rem;
}

.column-box {
    min-height: 10vh;
    background-color: floralwhite;
}

.row-box {
    min-height: 10vh;
    background-color:skyblue;
}

.container-fixed {
    background-color: #e1e1e1;
}