/* Main page */
body {
    font-family: 'Roboto', sans-serif;
    padding-top: 5%;
}

/* #dashboard-container {

} */

/* navbar */
.navbar {
    /* border-bottom: 3px solid black; */
    min-height: 5vh;
    background-color: rgb(241, 241, 241);
}

.dropdown-menu {
    max-height: 90vh;
    min-width: fit-content;
    overflow-y: scroll;
}

.list-group-item .card {
    margin: 5%;
}

#sdg-letters{
    color: #00adef;
    font-size: larger;
    font-weight: bold;
}

.nav-item {
    padding-left: 5%;
}

#sdg-logo {
    width: 19%;
    height: 6%;
}

.goal-icon {
    height: 100%;
    width: 100%;
}

/* Sidebar */

#sidebar-wrapper {
    overflow-y: auto;
    border: 3px solid green;
}

/* Charts */

.summary-chart {
    max-height: 5rem;
}

/* goal-specific details custom */

canvas[data-index-number="1"] {
    color: #e5243b;
}

main[data-index-number="2"] {
    color: #dda63a;
}

.css-backdrop-3 {
    color: #4c9f38;
}
.css-backdrop-4 {
    color: #c5192d;
}
.css-backdrop-5 {
    color: #ff3a21;
}
.css-backdrop-6 {
    color: #26bde2;
}
.css-backdrop-7 {
    color: #fcc30b;
}
.css-backdrop-8 {
    color: #a21942;
}
.css-backdrop-9 {
    color: #fd6925;
}
.css-backdrop-10 {
    color: #dd1367;
}
.css-backdrop-11 {
    color: #fd9d24;
}
.css-backdrop-12 {
    color: #bf8b2e;
}
.css-backdrop-13 {
    color: #3f7e44;
}
.css-backdrop-14 {
    color: #0a97d9;
}
.css-backdrop-15 {
    color: #56c02b;
}
.css-backdrop-16 {
    color: #00689d;
}
.css-backdrop-17 {
    color: #19486a;
}


/* css structure */
.col-5 {
    border: 3px solid black;
    padding: 1rem;
    /* margin: .25rem; */
}

.row {
    border: 3px solid blue;
}

h2, h3 {
    margin-top: 2rem;
}

.column-box {
    min-height: 10vh;
    background-color: floralwhite;
}

.row-box {
    min-height: 10vh;
    background-color:skyblue;
}

.container-fixed {
    background-color: #e1e1e1;
}