/* Goal details page */

#charts-row {
    height: 10px;
}

#summary-row {
    height: 50px;
}

.container {
    font-family: 'Roboto', sans-serif;
}

#brand-icon {
    width: 25px;
    height: 25px;
}
