<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <!-- added initial-scale per Bootstrap's docs for viewport meta -->
        <meta name="viewport" content="width=device-width" initial-scale="1">

        <!-- Bootstrap -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css">
        <!-- Google Font API -->
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
        <!-- my css -->
        <link rel="stylesheet" href="/static/css/sdg.css">

        <title>
            {% block title %} {% endblock %}
        </title>

        {% block head %} {% endblock %}
    </head>

    <body>
      <div class="container">

        <!-- navbar -->
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid">

              <!-- Brand (project name) -->
              <a class="navbar-brand" href="#">
                <img src="/static/icons/sdg_logos/sdg_wheel.png" 
                alt="color wheel logo for the SDGs"
                width="25" height="25"
                class="d-inline-block align-text-top">
                <!-- <svg xmlns="http://www.w3.org/2000/svg" id="brand-icon" viewBox="0 0 448 512">! Font Awesome Pro 6.4.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc.<path d="M160 80c0-26.5 21.5-48 48-48h32c26.5 0 48 21.5 48 48V432c0 26.5-21.5 48-48 48H208c-26.5 0-48-21.5-48-48V80zM0 272c0-26.5 21.5-48 48-48H80c26.5 0 48 21.5 48 48V432c0 26.5-21.5 48-48 48H48c-26.5 0-48-21.5-48-48V272zM368 96h32c26.5 0 48 21.5 48 48V432c0 26.5-21.5 48-48 48H368c-26.5 0-48-21.5-48-48V144c0-26.5 21.5-48 48-48z"/></svg> -->
                ProgressSDG
              </a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <!-- Navbar items -->
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                  <!-- Item 1: home -->
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/">Home</a>
                  </li>

                  <!-- Item 2: goals -->
                  <li class="nav-item">
                    <a class="nav-link" href="/goals">Goals</a>
                  </li>
                  <!-- Item 3: indicators (disabled) -->
                  <li class="nav-item">
                    <a class="nav-link disabled" href="/indicators">Indicators</a>
                  </li>
                </ul>

                <!-- SDG logo -->
                <div class="d-flex">

                </div>
              </div>
            </div>
          </nav>

        {% block body %} {% endblock %}
    
        {% block after_body %} {% endblock %}
      </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"></script>
    </body>
</html>