{% extends 'base.html' %}

{% block title %}{{ progress.code }} - Global Summary {% endblock %}

{% block head %} 
<script src="https://cdn.jsdelivr.net/npm/chart.js@4.3.0/dist/chart.umd.min.js"></script>
{% endblock %}

{% block body %}

<h1>Progress for SDG <span id="goalcode">{{ progress.code }}</span></h1>


<h2>{{ progress.goal.title }}</h2>

<p>
    <div style="width:150px;">
        <img src="/static/icons/E-WEB-Goal-{{ progress.code }}.png" 
        alt="icon for SDG {{ progress.code }}"
        style="max-width:100%; max-height:100%;">
    </div>
    <h3>
        {{ progress.progress }}% achieved over {{ progress.years_to_date}} years (starting in 2015).
    </h3>
    <!-- <div style="width: 500px;">
        <canvas id="test-line"></canvas>
    </div>
    <div style="width: 500px;">
        <canvas id="custom-objs"></canvas>
    </div>
    <div style="width: 500px;">
        <canvas id="burndown"></canvas>
    </div> -->
    <div style="width: 500px;">
        <canvas id="progress-bar"></canvas>
    </div>
    <div style="width: 500px;">
        <canvas id="time-pie"></canvas>
    </div>
    <div>
        {{ progress.goal.description }}
    </div>
</p>
<a href="/">Return to homepage</a>
{% endblock %}

{% block after_body %}
    <script src="/static/js_css/charts.js"></script>
{% endblock %}