{% extends 'base.html' %}

{% block title %}{{ progress.code }} - Global Summary {% endblock %}

{% block head %} 
<script src="https://cdn.jsdelivr.net/npm/chart.js@4.3.0/dist/chart.umd.min.js"></script>
{% endblock %}

{% block body %}
<div class="container">

    <!-- Row 1: SDG name and icon -->
    <div class="row align-items-center">
        <div class="col-2">
            <img src="/static/icons/E-WEB-Goal-{{ progress.code }}.png" 
            alt="icon for SDG {{ progress.code }}"
            style="max-width:100%; max-height:100%;">
        </div>
        <div class="col-10">
            <h1>Progress for SDG <span id="goal-code">{{ progress.code }}</span></h1>
            <p>{{ progress.goal.title }}</p>
        </div>
    </div>
    <!-- End Row 1 -->
    
    <!-- Row 3: summary of work and time remaining-->
    <div class="row align-items-top">
        <div class="col-4">
            <div class="card chart-container">
                <h2>{{ progress.progress | round(2) }}% complete</h2>
                <canvas id="progress-bar"></canvas>
            </div>
        </div>
        <div class="col-2 chart-container">
            <div class="card">
                <h2>{{ 15 - progress.years_to_date | round(2) }} years remaining</h2>
                <canvas id="time-pie"></canvas>
            </div>
        </div>
    </div>
    <!-- End Row 3 -->

    <!-- Row 2: sdg description -->
    <div class="row">
        <div class="col">
            {{ progress.goal.description }}
        </div>
    </div>
    <!-- End Row 2 -->

    <!-- Row 4: progress bar and time remaining charts -->
    <div class="row">
        <div class="col">
        </div>
        <div class="col">
        </div>
        <!-- <div class="col">
            <canvas id="test-line"></canvas>
        </div>
        <div class="col">
            <canvas id="custom-objs"></canvas>
        </div>
        <div class="col">
            <canvas id="burndown"></canvas>
        </div> -->
    </div>
    <!-- End Row 4 -->

    <!-- Row 5: Indicators list header -->
    <div class="row">
        <div class = "col">
            <span>List of Indicators</span>
        </div>
    </div>
    <!-- End Row 5 -->

    <!-- Row 6: Indicators table -->
    <div class="row">
        <div class="col">
            <table class="table table-hover table-striped table-bordered">
                <thead>
                    <th scope="col">ID</th>
                    <th scope="col">Description</th>
                    <th scope="col">Progress</th>
                </thead>
                <tbody>
                    {% for indicator in indicators %}
                    <tr>
                        <td id="indicator-id-2">
                            {{ indicator.id }}. 
                        </td>
                        <td>
                            {{ indicator.description }}
                        </td>
                        <!-- <td>
                            <canvas id="ind-progress-bar-2"></canvas>
                        </td> -->
                        <td>
                            {{ indicator.progress }}% complete
                        </td>
                    </tr>
                    {% endfor %} 
                </tbody>
            </table>
        </div>
    </div>
    <!-- End Row 6 -->

</div>
{% endblock %}

{% block after_body %}
    <script src="/static/js/charts.js"></script>
{% endblock %}