{% extends 'base.html' %}

{% block title %}{{ ind_details.id }} - Global Summary {% endblock %}

{% block head %} 
<script src="https://cdn.jsdelivr.net/npm/chart.js@4.3.0/dist/chart.umd.min.js"></script>
{% endblock %}

{% block body %}
<div class="container-fluid">
    <div class="row">
        <div class="col">
            <h1>
                Progress for indicator <span id="indicator-id">{{ ind_details.id }}</span>
            </h1>
        </div>
        <div class="col">
            <p>
                {{ ind_details.description }}
            </p>
            <p>
                {{ ind_details.progress }}% complete
            </p>
        </div>
        <div class="col">
                <canvas id="ind-progress-bar"></canvas>
        </div>
    </div>
</div>
{% endblock %}

{% block after_body %}
    <script src="/static/js/ind_chart.js"></script>
{% endblock %}
